body {
  background-color: #1b1e21;
  color: white;
}

.icon {
  width: 32px;
  margin-left: 5px;
  margin-right: 5px;
}

.card {
  background-color: #1b1e21;
}

.form-control {
  color: white;
  background-color: #1b1e21;
}
.form-control:focus {
  color: white;
  background-color: #0f1113;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.modal {
  color: white;
}

.modal-content {
  background-color: #191a1d;
}

.modal-footer {
  border-top: 0px;
}
